@inherits LayoutComponentBase
@using LlamaLogic.LlamaPad.Components.Dialogs
@using MudBlazor

<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="fun-friends">
    <div class="marcy fun-friend"></div>
    <div class="mumbo fun-friend"></div>
</div>

@Body

@code {
}