html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: rgb(30, 30, 30);
}

#app {
    height: 100%;
}

.mud-popover-open {
    background: rgba(30, 30, 30, 0.2) !important;
    backdrop-filter: blur(10px);
}

.flyout {
    padding: 1em;
}

.fun-friends {
    opacity: 0.1;
}

.fun-friend {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
}

.marcy {
    background-image: url(../img/Marcy.png);
    background-position: left;
    bottom: 4vh;
    left: 4vw;
    right: calc(4vw + 100px);
    top: calc(4vh + 40px);
}

.mumbo {
    background-image: url(../img/Mumbo.png);
    background-position: right;
    bottom: 4vh;
    left: 4vw;
    right: calc(4vw + 100px);
    top: calc(52vh + 40px);
}

.blur-backdrop {
    backdrop-filter: blur(10px);
}

.monaco-editor-container .monaco-editor {
    background: transparent !important;
    outline-color: transparent !important;
}

    .monaco-editor-container .monaco-editor > .overflow-guard > .margin {
        background: transparent !important;
    }

    .monaco-editor-container .monaco-editor > .overflow-guard > .editor-scrollable .monaco-editor-background {
        background: transparent !important;
    }